@model IEnumerable<MovieDirectorApp.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Movie Genres</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class=" col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>
                    @Html.DisplayFor(modelItem => item.Type)<br />
                </h3>

                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GenreID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GenreID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GenreID })
                </p>
            </div>
        </div>
    </div>

}

<table class="table">
   

</table>
