@model MovieDirectorApp.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayFor(model => model.Director.Name)</h3>
    </div>
    <div class="panel-body">
        @Html.DisplayNameFor(model => model.Genre.Type)
      

     
            @Html.DisplayFor(model => model.Genre.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
      

     
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
      

     
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RTScore)
      

     
            @Html.DisplayFor(model => model.RTScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
      

     
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WonAward)
      

     
            @Html.DisplayFor(model => model.WonAward)
        </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
</div>
   
    
</div>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           
        </dt>

        <dd>
           
        </dd>

        <dt>
        